streamlit
langchain
langchain-groq
python-dotenv
langchain_core
sounddevice
gradio 
openai 
gtts 
pydub 
whisper
openai-whisper
huggingface-hub


langgraph
tensorflow
transformers
langgraph